/**/
/* reset */
/**/
.pcss3rm, .pcss3rm * {
	list-style: none;
	margin: 0;
	padding: 0;
	border: 0;
	outline: none;
	text-decoration: none;
}


/**/
/* basic styles */
/**/
.pcss3rm {
	position: fixed;
	z-index: 1000;
	width: 48px;
	height: 48px;
	font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.pcss3rm input {
	position: absolute;
	z-index: 3;
	top: 0;
	left: 0;
	display: block;
	width: 100%;
	height: 100%;
	cursor: pointer;
	opacity: 0;	
}
.pcss3rm a {
	position: relative;
	z-index: 2;
	display: block;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	background: #fff;
	box-shadow: 0 0 8px rgba(0,0,0,0.5);
	transition: background 0.5s;
	-o-transition: background 0.5s;
	-ms-transition: background 0.5s;
	-moz-transition: background 0.5s;
	-webkit-transition: background 0.5s;
}
.pcss3rm i {
	display: block;
	width: 100%;
	height: 100%;
	overflow: hidden;
	font-size: 30px;
	line-height: 48px;
	text-align: center;
	transition: color 0.5s;
	-o-transition: color 0.5s;
	-ms-transition: color 0.5s;
	-moz-transition: color 0.5s;
	-webkit-transition: color 0.5s, -webkit-transform 0.5s;	
}
.pcss3rm .icon-plus {
	line-height: 50px;
}
.pcss3rm li {
	position: absolute;
	top: 50%;
	left: 50%;
	display: block;
	width: 38px;
	height: 38px;
	margin: -19px 0 0 -19px;
	transition: all 0.5s;
	-o-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-webkit-transition: all 0.5s;
}
.pcss3rm li a {
	position: static;
	box-shadow: 0 0 6px rgba(0,0,0,0.5);
}
.pcss3rm li i {
	font-size: 20px;
	line-height: 38px;
}
.pcss3rm input:checked + a i {
	transform: rotate(360deg);
	-o-transform: rotate(360deg);
	-ms-transform: rotate(360deg);
	-moz-transform: rotate(360deg);
	-webkit-transform: rotate(360deg);
}
.pcss3rm input:checked + a .icon-plus {
	transform: rotate(315deg);
	-o-transform: rotate(315deg);
	-ms-transform: rotate(315deg);
	-moz-transform: rotate(315deg);
	-webkit-transform: rotate(315deg);
}


/**/
/* animations */
/**/
.pcss3rm li:nth-child(2) {
	-webkit-transition-delay: 0.1s;	
}
.pcss3rm li:nth-child(3) {
	-webkit-transition-delay: 0.2s;	
}
.pcss3rm li:nth-child(4) {
	-webkit-transition-delay: 0.3s;	
}
.pcss3rm li:nth-child(5) {
	-webkit-transition-delay: 0.4s;	
}
.pcss3rm li:nth-child(6) {
	-webkit-transition-delay: 0.5s;	
}
.pcss3rm li:nth-child(7) {
	-webkit-transition-delay: 0.6s;	
}
.pcss3rm li:nth-child(8) {
	-webkit-transition-delay: 0.7s;	
}
.pcss3rm li:nth-child(9) {
	-webkit-transition-delay: 0.8s;	
}
.pcss3rm li:nth-child(10) {
	-webkit-transition-delay: 0.9s;	
}
.pcss3rm li:nth-child(11) {
	-webkit-transition-delay: 1.0s;	
}
.pcss3rm li:nth-child(12) {
	-webkit-transition-delay: 1.1s;	
}
.pcss3rm li:nth-child(13) {
	-webkit-transition-delay: 1.2s;	
}
.pcss3rm li:nth-child(14) {
	-webkit-transition-delay: 1.3s;	
}
.pcss3rm li:nth-child(15) {
	-webkit-transition-delay: 1.4s;	
}
.pcss3rm li:nth-child(16) {
	-webkit-transition-delay: 1.5s;	
}
.pcss3rm.pcss3rm-effect-aao li {
	-webkit-transition-delay: 0s;	
}
.pcss3rm.pcss3rm-effect-fade li {
	opacity: 0;
}
.pcss3rm.pcss3rm-effect-fade input:checked ~ ul li {
	opacity: 1;
}
.pcss3rm.pcss3rm-effect-rotate input:checked ~ ul li {
	transform: rotate(360deg);
	-o-transform: rotate(360deg);
	-ms-transform: rotate(360deg);
	-moz-transform: rotate(360deg);
	-webkit-transform: rotate(360deg);
}
.pcss3rm.pcss3rm-effect-scale li {
	transform: scale(0.1, 0.1);
	-o-transform: scale(0.1, 0.1);
	-ms-transform: scale(0.1, 0.1);
	-moz-transform: scale(0.1, 0.1);
	-webkit-transform: scale(0.1, 0.1);
}
.pcss3rm.pcss3rm-effect-scale input:checked ~ ul li {
	transform: scale(1, 1);
	-o-transform: scale(1, 1);
	-ms-transform: scale(1, 1);
	-moz-transform: scale(1, 1);
	-webkit-transform: scale(1, 1);
}
.pcss3rm.pcss3rm-effect-rotate.pcss3rm-effect-scale li {
	transform: rotate(0deg) scale(0.1, 0.1);
	-o-transform: rotate(0deg) scale(0.1, 0.1);
	-ms-transform: rotate(0deg) scale(0.1, 0.1);
	-moz-transform: rotate(0deg) scale(0.1, 0.1);
	-webkit-transform: rotate(0deg) scale(0.1, 0.1);
}
.pcss3rm.pcss3rm-effect-rotate.pcss3rm-effect-scale input:checked ~ ul li {
	transform: rotate(360deg) scale(1, 1);
	-o-transform: rotate(360deg) scale(1, 1);
	-ms-transform: rotate(360deg) scale(1, 1);
	-moz-transform: rotate(360deg) scale(1, 1);
	-webkit-transform: rotate(360deg) scale(1, 1);
}


/**/
/* postions */
/**/
.pcss3rm-pos-tl {
	top: 20px;
	left: 20px;
}
.pcss3rm-pos-tl input:checked ~ ul li:nth-child(1) {
	left: 350%;
}
.pcss3rm-pos-tl input:checked ~ ul li:nth-child(2) {
	top: 165.625%;
	left: 328.125%;
}
.pcss3rm-pos-tl input:checked ~ ul li:nth-child(3) {
	top: 262.5%;
	left: 262.5%;
}
.pcss3rm-pos-tl input:checked ~ ul li:nth-child(4) {
	top: 328.125%;
	left: 165.625%;
}
.pcss3rm-pos-tl input:checked ~ ul li:nth-child(5) {
	top: 350%;
	left: 50%;
}

.pcss3rm-pos-t {
	top: 20px;
	left: 50%;
	margin-left: -24px;
}
.pcss3rm-pos-t input:checked ~ ul li:nth-child(1) {
	left: 350%;
}
.pcss3rm-pos-t input:checked ~ ul li:nth-child(2) {
	top: 165.625%;
	left: 328.125%;
}
.pcss3rm-pos-t input:checked ~ ul li:nth-child(3) {
	top: 262.5%;
	left: 262.5%;
}
.pcss3rm-pos-t input:checked ~ ul li:nth-child(4) {
	top: 328.125%;
	left: 165.625%;
}
.pcss3rm-pos-t input:checked ~ ul li:nth-child(5) {
	top: 350%;
	left: 50%;
}
.pcss3rm-pos-t input:checked ~ ul li:nth-child(6) {
	top: 328.125%;
	left: -65.625%;
}
.pcss3rm-pos-t input:checked ~ ul li:nth-child(7) {
	top: 262.5%;
	left: -162.5%;
}
.pcss3rm-pos-t input:checked ~ ul li:nth-child(8) {
	top: 165.625%;
	left: -228.125%;
}
.pcss3rm-pos-t input:checked ~ ul li:nth-child(9) {
	left: -250%;
}

.pcss3rm-pos-tr {
	top: 20px;
	right: 20px;
}
.pcss3rm-pos-tr input:checked ~ ul li:nth-child(1) {
	top: 350%;
	left: 50%;
}
.pcss3rm-pos-tr input:checked ~ ul li:nth-child(2) {
	top: 328.125%;
	left: -65.625%;
}
.pcss3rm-pos-tr input:checked ~ ul li:nth-child(3) {
	top: 262.5%;
	left: -162.5%;
}
.pcss3rm-pos-tr input:checked ~ ul li:nth-child(4) {
	top: 165.625%;
	left: -228.125%;
}
.pcss3rm-pos-tr input:checked ~ ul li:nth-child(5) {
	left: -250%;
}

.pcss3rm-pos-r {
	top: 50%;
	right: 20px;
	margin-top: -24px;
}
.pcss3rm-pos-r input:checked ~ ul li:nth-child(1) {
	top: 350%;
	left: 50%;
}
.pcss3rm-pos-r input:checked ~ ul li:nth-child(2) {
	top: 328.125%;
	left: -65.625%;
}
.pcss3rm-pos-r input:checked ~ ul li:nth-child(3) {
	top: 262.5%;
	left: -162.5%;
}
.pcss3rm-pos-r input:checked ~ ul li:nth-child(4) {
	top: 165.625%;
	left: -228.125%;
}
.pcss3rm-pos-r input:checked ~ ul li:nth-child(5) {
	left: -250%;
}
.pcss3rm-pos-r input:checked ~ ul li:nth-child(6) {
	top: -65.625%;
	left: -228.125%;
}
.pcss3rm-pos-r input:checked ~ ul li:nth-child(7) {
	top: -162.5%;
	left: -162.5%;
}
.pcss3rm-pos-r input:checked ~ ul li:nth-child(8) {
	top: -228.125%;
	left: -65.625%;
}
.pcss3rm-pos-r input:checked ~ ul li:nth-child(9) {
	top: -250%;
	left: 50%;
}

.pcss3rm-pos-br {
	right: 20px;
	bottom: 20px;
}
.pcss3rm-pos-br input:checked ~ ul li:nth-child(1) {
	left: -250%;
}
.pcss3rm-pos-br input:checked ~ ul li:nth-child(2) {
	top: -65.625%;
	left: -228.125%;
}
.pcss3rm-pos-br input:checked ~ ul li:nth-child(3) {
	top: -162.5%;
	left: -162.5%;
}
.pcss3rm-pos-br input:checked ~ ul li:nth-child(4) {
	top: -228.125%;
	left: -65.625%;
}
.pcss3rm-pos-br input:checked ~ ul li:nth-child(5) {
	top: -250%;
	left: 50%;
}

.pcss3rm-pos-b {
	bottom: 20px;
	left: 50%;
	margin-left: -24px
}
.pcss3rm-pos-b input:checked ~ ul li:nth-child(1) {
	left: -250%;
}
.pcss3rm-pos-b input:checked ~ ul li:nth-child(2) {
	top: -65.625%;
	left: -228.125%;
}
.pcss3rm-pos-b input:checked ~ ul li:nth-child(3) {
	top: -162.5%;
	left: -162.5%;
}
.pcss3rm-pos-b input:checked ~ ul li:nth-child(4) {
	top: -228.125%;
	left: -65.625%;
}
.pcss3rm-pos-b input:checked ~ ul li:nth-child(5) {
	top: -250%;
	left: 50%;
}
.pcss3rm-pos-b input:checked ~ ul li:nth-child(6) {
	top: -228.125%;
	left: 165.625%;
}
.pcss3rm-pos-b input:checked ~ ul li:nth-child(7) {
	top: -162.5%;
	left: 262.5%;
}
.pcss3rm-pos-b input:checked ~ ul li:nth-child(8) {
	top: -65.625%;
	left: 328.125%;
}
.pcss3rm-pos-b input:checked ~ ul li:nth-child(9) {
	left: 350%;
}

.pcss3rm-pos-bl {
	bottom: 20px;
	left: 20px;
}
.pcss3rm-pos-bl input:checked ~ ul li:nth-child(1) {
	top: -250%;
	left: 50%;
}
.pcss3rm-pos-bl input:checked ~ ul li:nth-child(2) {
	top: -228.125%;
	left: 165.625%;
}
.pcss3rm-pos-bl input:checked ~ ul li:nth-child(3) {
	top: -162.5%;
	left: 262.5%;
}
.pcss3rm-pos-bl input:checked ~ ul li:nth-child(4) {
	top: -65.625%;
	left: 328.125%;
}
.pcss3rm-pos-bl input:checked ~ ul li:nth-child(5) {
	left: 350%;
}

.pcss3rm-pos-l {
	top: 50%;
	left: 20px;
	margin-top: -24px;
}
.pcss3rm-pos-l input:checked ~ ul li:nth-child(1) {
	top: -250%;
	left: 50%;
}
.pcss3rm-pos-l input:checked ~ ul li:nth-child(2) {
	top: -228.125%;
	left: 165.625%;
}
.pcss3rm-pos-l input:checked ~ ul li:nth-child(3) {
	top: -162.5%;
	left: 262.5%;
}
.pcss3rm-pos-l input:checked ~ ul li:nth-child(4) {
	top: -65.625%;
	left: 328.125%;
}
.pcss3rm-pos-l input:checked ~ ul li:nth-child(5) {
	left: 350%;
}
.pcss3rm-pos-l input:checked ~ ul li:nth-child(6) {
	top: 165.625%;
	left: 328.125%;
}
.pcss3rm-pos-l input:checked ~ ul li:nth-child(7) {
	top: 262.5%;
	left: 262.5%;
}
.pcss3rm-pos-l input:checked ~ ul li:nth-child(8) {
	top: 328.125%;
	left: 165.625%;
}
.pcss3rm-pos-l input:checked ~ ul li:nth-child(9) {
	top: 350%;
	left: 50%;
}

.pcss3rm-pos-c {
	top: 50%;
	left: 50%;
	margin: -24px 0 0 -24px;
}
.pcss3rm-pos-c input:checked ~ ul li:nth-child(1) {
	top: -250%;
	left: 50%;
}
.pcss3rm-pos-c input:checked ~ ul li:nth-child(2) {
	top: -228.125%;
	left: 165.625%;
}
.pcss3rm-pos-c input:checked ~ ul li:nth-child(3) {
	top: -162.5%;
	left: 262.5%;
}
.pcss3rm-pos-c input:checked ~ ul li:nth-child(4) {
	top: -65.625%;
	left: 328.125%;
}
.pcss3rm-pos-c input:checked ~ ul li:nth-child(5) {
	left: 350%;
}
.pcss3rm-pos-c input:checked ~ ul li:nth-child(6) {
	top: 165.625%;
	left: 328.125%;
}
.pcss3rm-pos-c input:checked ~ ul li:nth-child(7) {
	top: 262.5%;
	left: 262.5%;
}
.pcss3rm-pos-c input:checked ~ ul li:nth-child(8) {
	top: 328.125%;
	left: 165.625%;
}
.pcss3rm-pos-c input:checked ~ ul li:nth-child(9) {
	top: 350%;
	left: 50%;
}
.pcss3rm-pos-c input:checked ~ ul li:nth-child(10) {
	top: 328.125%;
	left: -65.625%;
}
.pcss3rm-pos-c input:checked ~ ul li:nth-child(11) {
	top: 262.5%;
	left: -162.5%;
}
.pcss3rm-pos-c input:checked ~ ul li:nth-child(12) {
	top: 165.625%;
	left: -228.125%;
}
.pcss3rm-pos-c input:checked ~ ul li:nth-child(13) {
	left: -250%;
}
.pcss3rm-pos-c input:checked ~ ul li:nth-child(14) {
	top: -65.625%;
	left: -228.125%;
}
.pcss3rm-pos-c input:checked ~ ul li:nth-child(15) {
	top: -162.5%;
	left: -162.5%;
}
.pcss3rm-pos-c input:checked ~ ul li:nth-child(16) {
	top: -228.125%;
	left: -65.625%;
}


/**/
/* tooltips */
/**/
.pcss3rm em {
	position: absolute;
	top: -9999px;
	left: -9999px;
	padding: 4px 8px;
	border-radius: 3px;
	background: rgba(0,0,0,0.8);
	font-style: normal;
	font-size: 11px;
	line-height: 13px;
	white-space: nowrap;
	color: #fff;
	opacity: 0;
	transition: opacity 0.5s;
	-o-transition: opacity 0.5s;
	-ms-transition: opacity 0.5s;
	-moz-transition: opacity 0.5s;
	-webkit-transition: opacity 0.5s;
}
.pcss3rm li:hover em {
	opacity: 1;
}

.pcss3rm li:hover .tl {
	top: auto;
	right: 100%;
	bottom: 100%;
	left: auto;
}
.pcss3rm li:hover .tr {
	top: auto;
	bottom: 100%;
	left: 100%;
}
.pcss3rm li:hover .r {
	top: 50%;
	left: 100%;
	margin-top: -11px;
	margin-left: 7px;
}
.pcss3rm li:hover  .br {
	top: 100%;
	left: 100%;
}
.pcss3rm li:hover  .bl {
	top: 100%;
	right: 100%;
	left: auto;
}
.pcss3rm li:hover .l {
	top: 50%;
	right: 100%;
	left: auto;
	margin-top: -11px;
	margin-right: 7px;
}


/**/
/* shapes */
/**/
.pcss3rm-shape-ellipse a,
.pcss3rm-shape-ellipse li a {
	border-radius: 25% 75%;
}
.pcss3rm-shape-rsquare a,
.pcss3rm-shape-rsquare li a {
	border-radius: 25%;
}
.pcss3rm-shape-square a,
.pcss3rm-shape-square li a {
	border-radius: 0;
}



/*----------------------------------------------------------------------------*/
/*                                    ICONS                                   */
/*----------------------------------------------------------------------------*/

/**/
/* font awesome */
/**/
@font-face
{
	font-family: 'FontAwesome';
	src: url('../fonts/fontawesome-webfont.eot?v=3.0.1');
	src: url('../fonts/fontawesome-webfont.eot?#iefix&v=3.0.1') format('embedded-opentype'),
	url('../fonts/fontawesome-webfont.woff?v=3.0.1') format('woff'),
	url('../fonts/fontawesome-webfont.ttf?v=3.0.1') format('truetype');
	font-weight: normal;
	font-style: normal;
}
[class^="icon-"], [class*=" icon-"] {
  vertical-align: baseline;
  background-image: none;
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  -webkit-font-smoothing: antialiased;
}
.icon-glass:before {content: '\f000';}
.icon-music:before {content: '\f001';}
.icon-search:before {content: '\f002';}
.icon-envelope:before {content: '\f003';}
.icon-heart:before {content: '\f004';}
.icon-star:before {content: '\f005';}
.icon-star-empty:before {content: '\f006';}
.icon-user:before {content: '\f007';}
.icon-film:before {content: '\f008';}
.icon-th-large:before {content: '\f009';}
.icon-th:before {content: '\f00a';}
.icon-th-list:before {content: '\f00b';}
.icon-ok:before {content: '\f00c';}
.icon-remove:before {content: '\f00d';}
.icon-zoom-in:before {content: '\f00e';}
.icon-zoom-out:before {content: '\f010';}
.icon-off:before {content: '\f011';}
.icon-signal:before {content: '\f012';}
.icon-cog:before {content: '\f013';}
.icon-trash:before {content: '\f014';}
.icon-home:before {content: '\f015';}
.icon-file:before {content: '\f016';}
.icon-time:before {content: '\f017';}
.icon-road:before {content: '\f018';}
.icon-download-alt:before {content: '\f019';}
.icon-download:before {content: '\f01a';}
.icon-upload:before {content: '\f01b';}
.icon-inbox:before {content: '\f01c';}
.icon-play-circle:before {content: '\f01d';}
.icon-repeat:before {content: '\f01e';}
.icon-refresh:before {content: '\f021';}
.icon-list-alt:before {content: '\f022';}
.icon-lock:before {content: '\f023';}
.icon-flag:before {content: '\f024';}
.icon-headphones:before {content: '\f025';}
.icon-volume-off:before {content: '\f026';}
.icon-volume-down:before {content: '\f027';}
.icon-volume-up:before {content: '\f028';}
.icon-qrcode:before {content: '\f029';}
.icon-barcode:before {content: '\f02a';}
.icon-tag:before {content: '\f02b';}
.icon-tags:before {content: '\f02c';}
.icon-book:before {content: '\f02d';}
.icon-bookmark:before {content: '\f02e';}
.icon-print:before {content: '\f02f';}
.icon-camera:before {content: '\f030';}
.icon-font:before {content: '\f031';}
.icon-bold:before {content: '\f032';}
.icon-italic:before {content: '\f033';}
.icon-text-height:before {content: '\f034';}
.icon-text-width:before {content: '\f035';}
.icon-align-left:before {content: '\f036';}
.icon-align-center:before {content: '\f037';}
.icon-align-right:before {content: '\f038';}
.icon-align-justify:before {content: '\f039';}
.icon-list:before {content: '\f03a';}
.icon-indent-left:before {content: '\f03b';}
.icon-indent-right:before {content: '\f03c';}
.icon-facetime-video:before  {content: '\f03d';}
.icon-picture:before {content: '\f03e';}
.icon-pencil:before {content: '\f040';}
.icon-map-marker:before {content: '\f041';}
.icon-adjust:before {content: '\f042';}
.icon-tint:before {content: '\f043';}
.icon-edit:before {content: '\f044';}
.icon-share:before {content: '\f045';}
.icon-check:before {content: '\f046';}
.icon-move:before {content: '\f047';}
.icon-step-backward:before {content: '\f048';}
.icon-fast-backward:before {content: '\f049';}
.icon-backward:before {content: '\f04a'; position: relative;	left: -2px;}
.icon-play:before {content: '\f04b'; position: relative; left: 1px;}
.icon-pause:before {content: '\f04c';}
.icon-stop:before {content: '\f04d';}
.icon-forward:before {content: '\f04e'; position: relative;	left: 2px;}
.icon-fast-forward:before {content: '\f050';}
.icon-step-forward:before {content: '\f051';}
.icon-eject:before {content: '\f052';}
.icon-chevron-left:before {content: '\f053';}
.icon-chevron-right:before {content: '\f054';}
.icon-plus-sign:before {content: '\f055';}
.icon-minus-sign:before {content: '\f056';}
.icon-remove-sign:before {content: '\f057';}
.icon-ok-sign:before {content: '\f058';}
.icon-question-sign:before {content: '\f059';}
.icon-info-sign:before {content: '\f05a';}
.icon-screenshot:before {content: '\f05b';}
.icon-remove-circle:before {content: '\f05c';}
.icon-ok-circle:before {content: '\f05d';}
.icon-ban-circle:before {content: '\f05e';}
.icon-arrow-left:before {content: '\f060';}
.icon-arrow-right:before {content: '\f061';}
.icon-arrow-up:before {content: '\f062';}
.icon-arrow-down:before {content: '\f063';}
.icon-share-alt:before {content: '\f064';}
.icon-resize-full:before {content: '\f065';}
.icon-resize-small:before {content: '\f066';}
.icon-plus:before {content: '\f067';}
.icon-minus:before {content: '\f068';}
.icon-asterisk:before {content: '\f069';}
.icon-exclamation-sign:before {content: '\f06a';}
.icon-gift:before {content: '\f06b';}
.icon-leaf:before {content: '\f06c';}
.icon-fire:before {content: '\f06d';}
.icon-eye-open:before {content: '\f06e';}
.icon-eye-close:before {content: '\f070';}
.icon-warning-sign:before {content: '\f071';}
.icon-plane:before {content: '\f072';}
.icon-calendar:before {content: '\f073';}
.icon-random:before {content: '\f074';}
.icon-comment:before {content: '\f075';}
.icon-magnet:before {content: '\f076';}
.icon-chevron-up:before {content: '\f077';}
.icon-chevron-down:before {content: '\f078';}
.icon-retweet:before {content: '\f079';}
.icon-shopping-cart:before {content: '\f07a';}
.icon-folder-close:before {content: '\f07b';}
.icon-folder-open:before {content: '\f07c';}
.icon-resize-vertical:before {content: '\f07d';}
.icon-resize-horizontal:before {content: '\f07e';}
.icon-bar-chart:before {content: '\f080';}
.icon-twitter-sign:before {content: '\f081';}
.icon-facebook-sign:before {content: '\f082';}
.icon-camera-retro:before {content: '\f083';}
.icon-key:before {content: '\f084';}
.icon-cogs:before {content: '\f085';}
.icon-comments:before {content: '\f086';}
.icon-thumbs-up:before {content: '\f087';}
.icon-thumbs-down:before {content: '\f088';}
.icon-star-half:before {content: '\f089';}
.icon-heart-empty:before {content: '\f08a';}
.icon-signout:before {content: '\f08b';}
.icon-linkedin-sign:before {content: '\f08c';}
.icon-pushpin:before {content: '\f08d';}
.icon-external-link:before {content: '\f08e';}
.icon-signin:before {content: '\f090';}
.icon-trophy:before {content: '\f091';}
.icon-github-sign:before {content: '\f092';}
.icon-upload-alt:before {content: '\f093';}
.icon-lemon:before {content: '\f094';}
.icon-phone:before {content: '\f095';}
.icon-check-empty:before {content: '\f096';}
.icon-bookmark-empty:before {content: '\f097';}
.icon-phone-sign:before {content: '\f098';}
.icon-twitter:before {content: '\f099';}
.icon-facebook:before {content: '\f09a';}
.icon-github:before {content: '\f09b';}
.icon-unlock:before {content: '\f09c';}
.icon-credit-card:before {content: '\f09d';}
.icon-rss:before {content: '\f09e';}
.icon-hdd:before {content: '\f0a0';}
.icon-bullhorn:before {content: '\f0a1';}
.icon-bell:before {content: '\f0a2';}
.icon-certificate:before {content: '\f0a3';}
.icon-hand-right:before {content: '\f0a4';}
.icon-hand-left:before {content: '\f0a5';}
.icon-hand-up:before {content: '\f0a6';}
.icon-hand-down:before {content: '\f0a7';}
.icon-circle-arrow-left:before {content: '\f0a8';}
.icon-circle-arrow-right:before {content: '\f0a9';}
.icon-circle-arrow-up:before {content: '\f0aa';}
.icon-circle-arrow-down:before {content: '\f0ab';}
.icon-globe:before {content: '\f0ac';}
.icon-wrench:before {content: '\f0ad';}
.icon-tasks:before {content: '\f0ae';}
.icon-filter:before {content: '\f0b0';}
.icon-briefcase:before {content: '\f0b1';}
.icon-fullscreen:before {content: '\f0b2';}
.icon-group:before {content: '\f0c0';}
.icon-link:before {content: '\f0c1';}
.icon-cloud:before {content: '\f0c2';}
.icon-beaker:before {content: '\f0c3';}
.icon-cut:before {content: '\f0c4';}
.icon-copy:before {content: '\f0c5';}
.icon-paper-clip:before {content: '\f0c6';}
.icon-save:before {content: '\f0c7';}
.icon-sign-blank:before {content: '\f0c8';}
.icon-reorder:before {content: '\f0c9';}
.icon-list-ul:before {content: '\f0ca';}
.icon-list-ol:before {content: '\f0cb';}
.icon-strikethrough:before {content: '\f0cc';}
.icon-underline:before {content: '\f0cd';}
.icon-table:before {content: '\f0ce';}
.icon-magic:before {content: '\f0d0';}
.icon-truck:before {content: '\f0d1';}
.icon-pinterest:before {content: '\f0d2';}
.icon-pinterest-sign:before {content: '\f0d3';}
.icon-google-plus-sign:before {content: '\f0d4';}
.icon-google-plus:before {content: '\f0d5';}
.icon-money:before {content: '\f0d6';}
.icon-caret-down:before {content: '\f0d7';}
.icon-caret-up:before {content: '\f0d8';}
.icon-caret-left:before {content: '\f0d9';}
.icon-caret-right:before {content: '\f0da';}
.icon-columns:before {content: '\f0db';}
.icon-sort:before {content: '\f0dc';}
.icon-sort-down:before {content: '\f0dd';}
.icon-sort-up:before {content: '\f0de';}
.icon-envelope-alt:before {content: '\f0e0';}
.icon-linkedin:before {content: '\f0e1';}
.icon-undo:before {content: '\f0e2';}
.icon-legal:before {content: '\f0e3';}
.icon-dashboard:before {content: '\f0e4';}
.icon-comment-alt:before {content: '\f0e5';}
.icon-comments-alt:before {content: '\f0e6';}
.icon-bolt:before {content: '\f0e7';}
.icon-sitemap:before {content: '\f0e8';}
.icon-umbrella:before {content: '\f0e9';}
.icon-paste:before {content: '\f0ea';}
.icon-lightbulb:before {content: '\f0eb';}
.icon-exchange:before {content: '\f0ec';}
.icon-cloud-download:before {content: '\f0ed';}
.icon-cloud-upload:before {content: '\f0ee';}
.icon-user-md:before {content: '\f0f0';}
.icon-stethoscope:before {content: '\f0f1';}
.icon-suitcase:before {content: '\f0f2';}
.icon-bell-alt:before {content: '\f0f3';}
.icon-coffee:before {content: '\f0f4';}
.icon-food:before {content: '\f0f5';}
.icon-file-alt:before {content: '\f0f6';}
.icon-building:before {content: '\f0f7';}
.icon-hospital:before {content: '\f0f8';}
.icon-ambulance:before {content: '\f0f9';}
.icon-medkit:before {content: '\f0fa';}
.icon-fighter-jet:before {content: '\f0fb';}
.icon-beer:before {content: '\f0fc';}
.icon-h-sign:before {content: '\f0fd';}
.icon-plus-sign-alt:before {content: '\f0fe';}
.icon-double-angle-left:before {content: '\f100';}
.icon-double-angle-right:before {content: '\f101';}
.icon-double-angle-up:before {content: '\f102';}
.icon-double-angle-down:before {content: '\f103';}
.icon-angle-left:before {content: '\f104';}
.icon-angle-right:before {content: '\f105';}
.icon-angle-up:before {content: '\f106';}
.icon-angle-down:before {content: '\f107';}
.icon-desktop:before {content: '\f108';}
.icon-laptop:before {content: '\f109';}
.icon-tablet:before {content: '\f10a';}
.icon-mobile-phone:before {content: '\f10b';}
.icon-circle-blank:before {content: '\f10c';}
.icon-quote-left:before {content: '\f10d';}
.icon-quote-right:before {content: '\f10e';}
.icon-spinner:before {content: '\f110';}
.icon-circle:before {content: '\f111';}
.icon-reply:before {content: '\f112';}
.icon-github-alt:before {content: '\f113';}
.icon-folder-close-alt:before {content: '\f114';}
.icon-folder-open-alt:before {content: '\f115';}



/*----------------------------------------------------------------------------*/
/*                                   COLORS                                   */
/*----------------------------------------------------------------------------*/

/**/
/* white */
/**/
.pcss3rm i.color-white,
.pcss3rm i.hcolor-white:hover,
.pcss3rm input:hover + a i.hcolor-white {
	color: #ffffff;
}
.pcss3rm a.color-white,
.pcss3rm a.hcolor-white:hover,
.pcss3rm input:hover + a.hcolor-white {
	background: #ffffff;
}


/**/
/* grey */
/**/
.pcss3rm i.color-grey,
.pcss3rm i.hcolor-grey:hover,
.pcss3rm input:hover + a i.hcolor-grey {
	color: #808080;
}
.pcss3rm a.color-grey,
.pcss3rm a.hcolor-grey:hover,
.pcss3rm input:hover + a.hcolor-grey {
	background: #808080;
}


/**/
/* black */
/**/
.pcss3rm i.color-black,
.pcss3rm i.hcolor-black:hover,
.pcss3rm input:hover + a i.hcolor-black {
	color: #000000;
}
.pcss3rm a.color-black,
.pcss3rm a.hcolor-black:hover,
.pcss3rm input:hover + a.hcolor-black {
	background: #000000;
}


/**/
/* red */
/**/
.pcss3rm i.color-red,
.pcss3rm i.hcolor-red:hover,
.pcss3rm input:hover + a i.hcolor-red {
	color: #e3001b;
}
.pcss3rm a.color-red,
.pcss3rm a.hcolor-red:hover,
.pcss3rm input:hover + a.hcolor-red {
	background: #e3001b;
}


/**/
/* orange */
/**/
.pcss3rm i.color-orange,
.pcss3rm i.hcolor-orange:hover,
.pcss3rm input:hover + a i.hcolor-orange {
	color: #f60;
}
.pcss3rm a.color-orange,
.pcss3rm a.hcolor-orange:hover,
.pcss3rm input:hover + a.hcolor-orange {
	background: #f60;
}


/**/
/* yellow */
/**/
.pcss3rm i.color-yellow,
.pcss3rm i.hcolor-yellow:hover,
.pcss3rm input:hover + a i.hcolor-yellow {
	color: #ffcc01;
}
.pcss3rm a.color-yellow,
.pcss3rm a.hcolor-yellow:hover,
.pcss3rm input:hover + a.hcolor-yellow {
	background: #ffcc01;
}


/**/
/* lime */
/**/
.pcss3rm i.color-lime,
.pcss3rm i.hcolor-lime:hover,
.pcss3rm input:hover + a i.hcolor-lime {
	color: #b1c903;
}
.pcss3rm a.color-lime,
.pcss3rm a.hcolor-lime:hover,
.pcss3rm input:hover + a.hcolor-lime {
	background: #b1c903;
}


/**/
/* green */
/**/
.pcss3rm i.color-green,
.pcss3rm i.hcolor-green:hover,
.pcss3rm input:hover + a i.hcolor-green {
	color: #27a22d;
}
.pcss3rm a.color-green,
.pcss3rm a.hcolor-green:hover,
.pcss3rm input:hover + a.hcolor-green {
	background: #27a22d;
}


/**/
/* cyan */
/**/
.pcss3rm i.color-cyan,
.pcss3rm i.hcolor-cyan:hover,
.pcss3rm input:hover + a i.hcolor-cyan {
	color: #00b1e5;
}
.pcss3rm a.color-cyan,
.pcss3rm a.hcolor-cyan:hover,
.pcss3rm input:hover + a.hcolor-cyan {
	background: #00b1e5;
}


/**/
/* blue */
/**/
.pcss3rm i.color-blue,
.pcss3rm i.hcolor-blue:hover,
.pcss3rm input:hover + a i.hcolor-blue {
	color: #006bb3;
}
.pcss3rm a.color-blue,
.pcss3rm a.hcolor-blue:hover,
.pcss3rm input:hover + a.hcolor-blue {
	background: #006bb3;
}


/**/
/* purple */
/**/
.pcss3rm i.color-purple,
.pcss3rm i.hcolor-purple:hover,
.pcss3rm input:hover + a i.hcolor-purple {
	color: #ad007c;
}
.pcss3rm a.color-purple,
.pcss3rm a.hcolor-purple:hover,
.pcss3rm input:hover + a.hcolor-purple {
	background: #ad007c;
}


/**/
/* pink */
/**/
.pcss3rm i.color-pink,
.pcss3rm i.hcolor-pink:hover,
.pcss3rm input:hover + a i.hcolor-pink {
	color: #ea4c89;
}
.pcss3rm a.color-pink,
.pcss3rm a.hcolor-pink:hover,
.pcss3rm input:hover + a.hcolor-pink {
	background: #ea4c89;
}